@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2d2347;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}
